<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应急资源社会化共享服务平台</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/js/bstable/css/bootstrap-table.css"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/map.css">
    <link href="../static/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/js/artDialog/skins/default.css" type="text/css"/>
    <style>

    </style>
</head>
<body style="overflow: hidden">
ww
<div class="header">

   <div class="header-left header-nav">
        <ul>

            <li>
                <a href="../static/query.html" target="myFrame" onclick="changeStyle2content_right1()">

                    <span>综合查询</span>
                </a>
            </li>

            <!-- 路径规划 -->
            <li>
                <a href="../static/route.html" target="myFrame" onclick="changeStyle2content_right1()">

                    <span>路径规划</span>
                </a>
            </li>

          <!-- 我的回复 -->
            <li>
                <a href="../static/my_response.html" target="myFrame" onclick="changeStyle2content_right2()">

                    <span>我的申请</span>
                </a>
            </li>

                      <!-- 案例库 -->
            <li>
                <a href="../static/example1.html" target="myFrame" onclick="changeStyle2content_right3()">

                    <span>案例库</span>
                </a>
            </li>

        </ul>

    </div>
        <div class="query-item" style="float: right;margin-top: 3.5%;font-size: large">
           <label style="color: white; margin: auto;text-align: center; " id="userID">公司名称:{{user_name}}</label>
    </div>
</div>

<div class="content">
    <div class="content-left">
        <div style="height:100%; width: 100%;">
            <div class="map_box" id="map_box"></div>
            <div id="roadimg" style="display: none">
                <img src="../static/images/huapo_road.png" style="height:100%; width: 100%;">
            </div>
            </div>
        <div class="left-btn" onclick="leftBtn()">
            <img src="../static/images/left.png">
        </div>

    </div>
    <div id="contright" class="content-right1">
        <iframe src="../static/query.html" name="myFrame" width="100%" height="99%" style="border: none;overflow-y: hidden"></iframe>
    </div>
</div>


</body>
<script src="../static/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j&callback"></script>
<script src="../static/js/map.js"></script>
<script src="../static/js/echarts-all.js"></script>
<script src="../static/js/bstable/js/bootstrap.min.js"></script>
<script src="../static/js/bstable/js/bootstrap-table.js"></script>
<script src="../static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="../static/jsndex.js"></script>
<script src="../static/js/artDialog/artDialog.js"></script>
<script src="../static/js/artDialog/plugins/iframeTools.source.js"></script>
<!--加载鼠标绘制工具-->
<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
<script>
        var callBack = "";
        function getuserID(callback){
            callBack=callback
            var userID=document.getElementById("userID").textContent
            callBack(userID)
        }
        function changeMap(count3, callback){
        callBack = callback;
        if (count3%2==1){
            //alert('切换到预测的路网，再次点击可还原');
            document.getElementById('map_box').style.display="none";
            document.getElementById('roadimg').style.display="inline";


        }
        else {
            //alert('显示影像')
            document.getElementById('roadimg').style.display="none";
            document.getElementById('map_box').style.display="flex";

        }
    }

    function changeStyle2content_right1(){
        var ele=document.getElementById('contright')
        ele.className="content-right1"

    }
    function changeStyle2content_right2(){
        var ele=document.getElementById('contright')
        ele.className="content-right2"
    }
    function changeStyle2content_right3(){
        var ele=document.getElementById('contright')
        ele.className="content-right3"

    }


    var map = new BMap.Map('map_box');
    var poi = new BMap.Point(103.593179,31.478514);
    map.setMapType(BMAP_HYBRID_MAP)
    map.centerAndZoom(poi, 15);
    map.enableScrollWheelZoom();
    var scaleCtrl = new BMap.ScaleControl();  // 添加比例尺控件
    map.addControl(scaleCtrl);
    var PointF = function (tab){
        var tabrows=tab;
        for(var i=0;i<tabrows.length;i++){

            var lon=tabrows[i][6];
            var lat=tabrows[i][7];
            info='公司名称：'+tabrows[i][0].toString()+'\n'+
                'Tel：'+tabrows[i][2].toString()+'   行业：'+tabrows[i][3].toString()+'\n'+
                'Add：'+tabrows[i][4].toString()
            add_point_to_map(lon,lat,info);
        }
    }
    //添加从数据库读到的点
    function add_point_to_map(lon ,lat,info){
        var marker = new BMap.Marker(new BMap.Point(lon, lat),{title:info});
        map.addOverlay(marker);}


    //绘制矩形搜索范围
    var overlays=0 ;
    var overlaycomplete = function(e){
        if (overlays ==0){
            overlays=e.overlay;
            //callBack(overlays)
        }
        else{
            clearOverlay();
            overlays=e.overlay;
            //callBack(overlays)
        }
         get_Rec_point(overlays);
        // alert(overlays.Bo[1]['lat']);

    };
    var styleOptions = {
        strokeColor:"black",    //边线颜色。
        fillColor:"",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,    //边线透明度，取值范围0 - 1。
        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    }
    //实例化鼠标绘制工具
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: false, //是否开启绘制模式
        //enableDrawingTool: true, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(5, 5), //偏离值
        },
        circleOptions: styleOptions, //圆的样式
        polylineOptions: styleOptions, //线的样式
        polygonOptions: styleOptions, //多边形的样式
        rectangleOptions: styleOptions //矩形的样式
    });

    //添加鼠标绘制工具监听事件，用于获取绘制结果

    var draw=function (count, callback) {
        callBack = callback;
        if(count%2==1)
        {   drawingManager.addEventListener('overlaycomplete', overlaycomplete);
            drawingManager.open();
            drawingManager.setDrawingMode(BMAP_DRAWING_RECTANGLE);
        alert('再次点击可停止绘图')}
        else {
            drawingManager.removeEventListener('overlaycomplete', overlaycomplete);
            drawingManager.close();
            drawingManager.setDrawingMode(BMAP_DRAWING_RECTANGLE);
            alert('已停止')
        }


    }
    //获取矩形范围的矩形经纬度范围
    function get_Rec_point(overlays){
        var max_lon=overlays.Bo[1]['lng']
        var min_lon=overlays.Bo[3]['lng']
        var max_lat=overlays.Bo[1]['lat']
        var min_lat=overlays.Bo[3]['lat']
        var text_value=min_lon.toString()+'-'+max_lon.toString()+','+min_lat.toString()+'-'+max_lat.toString()
        callBack(text_value)
    }




    //设置救援点
    var glng=0;
    var glat=0;
    function get_point_lng_lat(e){
     glng=e.point.lng;
     glat=e.point.lat;
     dapoint()
    }
    function dapoint(){
    var myicon=new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                    offset: new BMap.Size(10, 25), // 指定定位位置
                    imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移使用左侧的图片
                  //  imageOffset: new BMap.Size(-20, 0 - 10 * 25) // 设置图片偏移使用右侧的图片0-x*25代表使用第x+1张图片
                });
    var marker = new BMap.Marker(new BMap.Point(glng, glat),{title:'救援点'},{icon:myicon});
    map.addOverlay(marker);
    var text_value=glng.toString()+','+glat.toString()
    callBack(text_value)
    }

    function choose_jiuyuanPoint(count1, callback){
        callBack = callback;
        if (count1%2==1){
            alert('右击选择救援点，再次点击可停止选择');
            map.addEventListener('rightclick', get_point_lng_lat);

        }
        else {
            alert('已停止')
            map.removeEventListener('rightclick', get_point_lng_lat);

        }
    }
    var draw_road=function (num,lon,lat,end_company,shipments, callback) {
        callBack = callback;
        var myP3 = new BMap.Point(end_company[0],end_company[1]);    //终点-北京
        var m1 = new BMap.Point(106.521436,29.532288);

        map.clearOverlays();                        //清除地图上所有的覆盖物
        var driving = new BMap.DrivingRoute(map);    //创建驾车实例
        for(var i=0;i<num;i++){
            var myp_start = new BMap.Point(lon[i],lat[i]);    //终点-北京
            driving.search(myp_start, myP3);                 //第二个驾车搜索
        }
        driving.setSearchCompleteCallback(function(){
            var pts = driving.getResults().getPlan(0).getRoute(0).getPath();    //通过驾车实例，获得一系列点的数组

            var polyline = new BMap.Polyline(pts);
            map.addOverlay(polyline);

            for(var j=0;j<num;j++){
                var myp_start = new BMap.Point(lon[j],lat[j]);
                var m1 = new BMap.Marker(myp_start,{title: '配额：'+shipments[j].toString()});         //创建3个marker
                map.addOverlay(m1);
            }
            var myicon=new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                offset: new BMap.Size(10, 25), // 指定定位位置
                imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移使用左侧的图片
              //  imageOffset: new BMap.Size(-20, 0 - 10 * 25) // 设置图片偏移使用右侧的图片0-x*25代表使用第x+1张图片
            });
            var m3 = new BMap.Marker(myP3,{icon:myicon});
            map.addOverlay(m3);

            var arr = []
            arr.push(myP3)
            for(var k=0;k<num;k++){
                var myp = new BMap.Point(lon[k],lat[k]);
                arr.push(myp)
            }
            setTimeout(function(){
                map.setViewport(arr);          //调整到最佳视野
            },1000);
        });
    }

    var draw_twoPointroad=function (companyPos,jiuyuanPos, callback) {
        callBack = callback;
        var lon=companyPos[0]
        var lat=companyPos[1]
        var myP3 = new BMap.Point(jiuyuanPos[0],jiuyuanPos[1]);    //终点-北京

        map.clearOverlays();                        //清除地图上所有的覆盖物
        var driving = new BMap.DrivingRoute(map);    //创建驾车实例
        var myp_start = new BMap.Point(lon,lat);    //终点-北京
        driving.search(myp_start, myP3);                 //第二个驾车搜索

        driving.setSearchCompleteCallback(function(){
            var pts = driving.getResults().getPlan(0).getRoute(0).getPath();    //通过驾车实例，获得一系列点的数组

            var polyline = new BMap.Polyline(pts);
            map.addOverlay(polyline);

            var myp_start = new BMap.Point(lon,lat);
            var m1 = new BMap.Marker(myp_start,{title: '我方点'});         //创建3个marker
            map.addOverlay(m1);

            var myicon=new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                offset: new BMap.Size(10, 25), // 指定定位位置
                imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移使用左侧的图片
              //  imageOffset: new BMap.Size(-20, 0 - 10 * 25) // 设置图片偏移使用右侧的图片0-x*25代表使用第x+1张图片
            });
            var m3 = new BMap.Marker(myP3,{icon:myicon},{title: '救援点'});
            map.addOverlay(m3);

            var arr = []
            arr.push(myP3)

            var myp = new BMap.Point(lon[k],lat[k]);
            arr.push(myp)

            setTimeout(function(){
                map.setViewport(arr);          //调整到最佳视野
            },1000);
        });
    }







    function clearOverlay() {
        map.removeOverlay(overlays);
    }


    function clearall(){
        map.clearOverlays();
    }
    window.FunctionC = {
        PointF : PointF,
        draw : draw,
        clearall:clearall,
        choose_jiuyuanPoint:choose_jiuyuanPoint,
        draw_road:draw_road,
        draw_twoPointroad:draw_twoPointroad,
        changeMap:changeMap,
        getuserID:getuserID


    }
</script>
</html>