*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* CSS Document */
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}/*滚动条的滑轨背景颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(75, 75, 75, 0.58);}/*滑块颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(48, 48, 48, 0.92);}
::-webkit-scrollbar{width: 16px;height: 16px;}/* 滑块整体设置*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-corner{background: transparent;}/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

body{
    font-size: 100%;
}
a:hover{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

.text_right{
    text-align: right;
}

/*地图界面样式*/
.map_con{
    width: 100%;
    padding: 0;
    background-color: #081832cc;
}
.map_left{
    width: 79%;
    height: 100%;


}
.map_right{
    width: 20.5%;
    height: 100%;
    background-color: #081832;
    overflow:auto;
}
.map_box{
    width: 100%;
    height: 100%;

}
.map_box label{
    max-width: none;

}
.map_top{
    position: absolute;
    top:0;
    left: 0;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #4b8df8;
    background-color: rgba(255, 255, 255, 0.84);
    z-index: 99;
}
.map_top>ul{
    list-style: none;
    font-size: 14px;
    float: right;
}
.map_top>ul>li{
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
}
.map_top>ul>li i{
    margin-right: 5px;
}
.map_top>ul>li a{
    color: #2E2D3C !important;
}
.map_top>ul .active,.map_top>ul>li .active{
    color: #0D8BBD;
}
.map_select{
    position: absolute;
    top:100px;
    right: 16px;

    border: 1px solid #034c6a;
    width: 150px;
   padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    background-color: #337ab7;
}
.map_select01{
    position: absolute;
    top:350px;
    right: 16px;
    box-shadow: -10px 0px 15px #034c6a inset, /*å·¦è¾¹é˜´å½±*/
    0px -10px 15px #034c6a inset, /*ä¸Šè¾¹é˜´å½±*/
    10px 0px 15px #034c6a inset, /*å³è¾¹é˜´å½±*/
    0px 10px 15px #034c6a inset;
    border: 1px solid #034c6a;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    background-color: #081832e3;
}

.map_select p{
    padding: 8px 15px;
    color: #FFFFff;
    font-size: 14px;
}
.map_select p input[type=checkbox]{
    width: 15px;
    height: 15px;
    position: relative;
    top:3px;
    margin-right: 10px;
}
.map_select01 p{
    padding: 8px 15px;
    color: #FFFFff;
    font-size: 14px;
}
.map_select01 p input[type=checkbox]{
    width: 15px;
    height: 15px;
    position: relative;
    top:3px;
    margin-right: 10px;
}
.map_right_top{
    width: 100%;
    height: 35px;

    background-color: #034c6a;
}
.map_right_top ul{
    height: 5%;
}
.map_right_top>ul>li{
    list-style: none;
    display: inline-block;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    width: 49%;
    color: #FFFFff;
    cursor: pointer;
    box-sizing: border-box;
}
.map_right_top>ul>li.li_active{
    background-color: #0D8BBD;
}
.map_chart{
    width: 100%;
    height: 250px;



    box-sizing: border-box;
    position: relative;
    margin-top: 25px;
}
.map_con{
    width: 100%;

}
.map_con_div{
    display: none;
    height: 100%;
    overflow: hidden;
}
.map_work{
    margin-top: 5px;
    border-top:1px solid #0D8BBD;

}
.map_work>ul>li{
    list-style: none;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 0;

}
.map_work>ul>li:hover{
    box-shadow: -10px 0px 15px #034c6a inset, /*å·¦è¾¹é˜´å½±*/
    0px -10px 15px #034c6a inset, /*ä¸Šè¾¹é˜´å½±*/
    10px 0px 15px #034c6a inset, /*å³è¾¹é˜´å½±*/
    0px 10px 15px #034c6a inset;
}
.map_work>ul>li .img_div{
    width: 28px;
    height: 24px;
    margin: 0 auto;

}
.img_div_text{
    color: #FFFFff;
    margin-top: 8px;
    font-size: 13px;
}
.back_i{
    position: relative;
    top:2px;
    margin-right: 5px;
}
.map_resList{
    width: 96%;
    margin: 0 auto;
    font-size: 13px;
    display: none;
}
.map_resList ul{
    overflow: hidden;
}
.map_resList>ul>li{
    list-style: none;
    margin-top: 8px;
}
.map_resList>ul>li p{
    padding: 5px 0;
    color: #eeeeee;
}
.map_resList>ul>li a{
    margin-right: 6px;
}
.map_resList>ul>li a img{
    width: 16px;

}
.map_resList>ul>li:nth-child(2n+1){
    background-color: #0d8bbd36;
}
.i_tele{
    width: 22px;
    height: 29px;
    display: inline-block;
    position: relative;
    background-image: url("../images/tel01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    top:8px;
}
.i_set{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    background-image: url("../images/set01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1px;
    top:5px;
}

.i_ka{
    width: 22px;
    height: 23px;
    display: inline-block;
    position: relative;
    background-image: url("../images/ka.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    top:6px;
}
.i_car{
    width: 27px;
    height: 18px;
    display: inline-block;
    position: relative;
    background-image: url("../images/car01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    top:6px;
}
.i_ball{
    width: 18px;
    height: 24px;
    display: inline-block;
    position: relative;
    background-image: url("../images/ball.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    top:6px;
}